.aboutUs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'Oswald', sans-serif;
    padding: 40px;
    height: calc(100vh - 150px);
}

.about-img {
    width: 50%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    height: 550px;
    background-color: #ffeaa7c2;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 5px;
}

.info-container h3 {
    font-size: 40px;
    text-align: center;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}

.aboutUs-title {
    font-size: 50px;
}

.about-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-list {
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    text-align: center;
    list-style-type: none;
    background-color: var(--blackGray);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.animated-world {
    width: 150px;
}

.animated-vinyl {
    width: 260px;
}

.animated-heart {
    width: 125px;
}

.about-icon p {
    font-size: 15px;
}

