.detail-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}

.detail-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blackGray);
    border-radius: 10px;
    width: 70%;
    height: 600px;
    gap: 50px;
    color: whitesmoke;
    position: relative;
}

.detail-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    width: 50%;
}


.detail-info p, .tracklist {
    font-weight: 300;
    font-size: 18px;
    padding-top: 15px;
}

.detail-info h2 {
    text-align: center;
    font-size: 30px;
    color: var(--yellow);
}

.detail-info h3 {
    font-size: 20px;
    text-align: center;
}

.detail-card img {
    width: 410px;
    border-radius: 10px;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-top: 30px;
}

.cart-btn {
    border: none;
    background-color: var(--oldGreen);
    border-radius: 10px;
    color: black;
    width: 50%;
    font-size: 15px;
    padding: 5px;
}

.cart-btn:hover {
    cursor: pointer;
}

.back-btn {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--oldGreen);
    border: none;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    color: whitesmoke;
    margin: 5px;
}

.back-btn:hover {
    cursor: pointer;
}



@media only screen and (max-width: 1200px) {
    
    .detail-card {
        width: 90%;
    }
    
    .detail-info {
        width: 40%;
    }
    
    .detail-card img {
        width: 390px;
    }
    
}

@media only screen and (max-width: 1000px) {

    .detail-card {
        width: 95%;
    }

    .detail-card img {
        width: 280px;
    }
}

@media only screen and (max-width: 700px) {
    
    .detail-card {
        flex-direction: column;
        height: 100%;
        gap: 10px;
    }
    
    .detail-info {
        gap: 5px;
        width: 90%;
    }
    
    .detail-card img {
        width: 300px;
        border-radius: 10px;
    }
    
    
    .cart-btn {
        border: none;
        background-color: var(--oldGreen);
        border-radius: 10px;
        color: black;
        width: 50%;
        font-size: 15px;
        padding: 5px;
    }
    
    .cart-btn:hover {
        cursor: pointer;
    }
    
    .back-btn {
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--oldGreen);
        border: none;
        padding: 10px;
        font-size: 15px;
        border-radius: 10px;
        color: whitesmoke;
        margin: 5px;
    }
    
    .back-btn:hover {
        cursor: pointer;
    }
}