.title {
    color: var(--blackGray);
    font-weight: 600;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 70px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home {
    padding: 5px 10px;
}

.home:hover {
    padding: 5px 10px;
    background-color: #ffeba7;
    color: var(--blackGray);
}

.about-us {
    padding: 5px 10px;
}

.about-us:hover {
    padding: 5px 10px;
    background-color: #ffeba7;
    color: var(--blackGray);
}

.list-container {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--blackGray);
}