.title {
    color: var(--blackGray);
    font-weight: 600;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 70px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-container {
    display: flex;
    list-style-type: none;
    gap: 30px;
}


.nav-item:hover {
    transition: ease-in 0.3s;  
    transform: scale(1.02);
    color: #c39823;
    text-shadow: 0.5px 0.5px 1px  black;
}

.contact-btn {
    padding: 10px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    color: whitesmoke;
    border-radius: 10px;
    background-color: var(--yellow) ;
}

.contact-btn:hover {
    background-color: var(--blackGray);
    color: var(--yellow);
}

.link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--blackGray);
}