/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap'); /* Oswald */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainColor: rgb(249, 228, 189);
}

body {
    background-color: rgb(106, 106, 106);
    font-family: 'Oswald', sans-serif;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--mainColor);
}

.title {
    font-weight: 600;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-container {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.nav-item a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

.contact-btn {
    padding: 10px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

