/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap'); /* Oswald */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainColor: rgba(151, 202, 202, 0.774);
    --yellow: #dcb138;
    --blackGray: #31313c;
    --oldGreen: #83a28b;
    --orange: #ae5411;
    
}

body {
    background-color: var(--mainColor);
    font-family: 'Oswald', sans-serif;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--thirdColor);
}

.title {
    font-size: 18px;
}


