
.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.item-btn {
    color: var(--secondColor);
    background-color: var(--thirdColor);
    border: none;
    border-radius: 10px;
    width: 100%;
    font-size: 20px;
}


.item-btn:hover {
    cursor: pointer;
}

.item-number {
    color: whitesmoke;
    position: relative;
    bottom: 7px;
}

.counter-container {
    display: flex;
    width: 50%;
    border-radius: 10px;
    flex-direction: row;
    background-color: var(--thirdColor);
} 
