.item-btn {
    border: none;
    border-radius: 50%;
    background-color: transparent;
    color: var(--blackGray);
    padding: 5px;
    font-size: 10px;
}

.item-btn:hover {
    cursor: pointer;
}

.counter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}


.itemcount-container {
    background-color: var(--yellow);
    border-radius: 10px;
    width: 25%;
}

.item-number {
    color: var(--blackGray);
}